@model RegisterViewModel
<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li><a href="shop.html">Riode Shop</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-6 pb-2 mb-10">
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class=" border-no lh-1 ls-normal" style="font-weight:500;font-size:24px;text-decoration:none;color:black;" asp-action="Login">Login</a>
                            </li>
                            <li class="delimiter">or</li>
                            <li class="nav-item">
                                <a class=" active border-no lh-1 ls-normal" style="font-weight:700;font-size:24px;text-decoration:none;color:black;" asp-action="Register">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="register">
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Fullname" placeholder="Your Fullname*"
                                               required />
                                               <span class="text-danger" asp-validation-for="Fullname"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Username" placeholder="Your Username *"
                                               required />
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Email" placeholder="Your Email*"
                                               required />
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" placeholder="Your Password *"
                                               required />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="PasswordConfirm" placeholder="Your Confirm Password*"
                                               required />
                                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                                    </div>
                                 
                                    <div class="form-footer">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="custom-checkbox" id="register-agree" name="register-agree"
                                                   required />
                                            <label class="form-control-label" for="register-agree">
                                                I agree to the
                                                privacy policy
                                            </label>
                                        </div>
                                    </div>
                                    <button class="btn btn-dark btn-block btn-rounded" type="submit">Register</button>
                                </form>
                                <div class="form-choice text-center">
                                    <label class="ls-m">or Register With</label>
                                    <div class="social-links">
                                        <a href="#" class="social-link social-google fab fa-google border-no"></a>
                                        <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                        <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>