@model SliderCreateViewModel
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create Slider</h4>

        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Subtitle"></label>
                <input asp-for="Subtitle" class="form-control">
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light" asp-action="index">Cancel</button>
        </form>
    </div>
</div>
